/*html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}*/

body {
    background-image: url(../images/bg.jpg);
    /*padding-top:5em;*/
    background-position: center;
    background-size: cover;
    font-size: 14px;
}

.body-player {
    background: #000000f5;
    min-width: 720px;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

#main {
    margin-top: 56px;
}

.jumbotron {
    background-color: #03a9f485;
    /*background-color: #03a9f475;*/
}

/*Player*/
.now-playingbar-container {
    width: 100%;
    background-color: #000000f5;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

.now-playing-bar {
    display: flex;
    height: 90px;
    padding: 16px;
}

.now-playing-left,
.now-playing-right {
    width: 30%;
    min-width: 100px;
}

.now-playing-right {
    width: 30%;
    min-width: 100px;
    margin: 25px 33px 25px 0;
}

.now-playing-center {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.now-playing-bar .content {
    width: 100%;
    height: 57px;
    text-align: center;
}

.player-controls .fa {
    margin: 0 auto;
    font-size: 20px;
    color: #0c6b6b;
    border: transparent;
    background: transparent;
}

.player-controls .fa-pause-circle-o {
    display: none;
}

.player-controls .fa-pause-circle,
.player-controls .fa-play-circle {
    font-size: 30px;
}

.control-button:hover {
    cursor:pointer;
}

.play-back-bar {
    display: flex;
}

.play-back-bar .progress-time {
    color: #757575;
    font-size: 14px;
    min-width: 40px;
}

.play-back-bar .progressbarcontrol {
    width: 100%;
    height: 12px;
    margin-top: 8px;
    display: inline-flex;
    cursor: pointer;
}

.progress-bar-bg {
    background-color: #0c6b6b;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress-slide {
    background-color: #a0a0a0;
    height: 4px;
    border-radius: 2px;
}

.now-playing-left .album-art {
    height: 100%;
    max-width: 100%;
    float: left;
    margin-left: 15px;
    background-size: cover;
}

.now-playing-left .track-info .track-name {
    margin: 6px 0;
    display: inline-block;
}

.now-playing-left .track-info .artist-name {
    font-size: 13px;
    color: #a0a0a0;
}

.now-playing-right {
    width: 100px;
    position: absolute;
    right: 0;
}

.now-playing-right .player-controls .volume-bar {
    width: 90px;
}

.top-container {
    min-height:100%;
    width:100%;
}

.sub-menu {
    background-color: #000000f5;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 25px;
}

.nav-link,
.navbar-brand {
    color: #199cad;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 0;
}

.nav-link:hover,
.navbar-brand:hover {
    color: #19c0da;
}

.main-view-container {
    margin-left: 200px;
    padding-bottom: 90px;
    width: calc(100% - 220px);;
}

#main-content {
    padding: 0 20px;
}

.card-view {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 20px
}

.card-view img {
    width:100%
}

.album-caption {
    font-weight: 300;
    text-align: center;
    padding: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-view a:hover {
    color: #199cad;
    /*text-decoration: none;*/
}

.entity-info {
    padding: 40px 0 10px;
    display: inline;
    width: 100%;
}

.entity-info .left-section {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entity-info .left-section img {
    width: 100%;
}

.entity-info .right-section {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entity-info .right-section span {
    color: #33a2e4;
    font-weight: 200px;
}

.track-section {
    width: 100%;
}

.track-list {
    padding: 0;
}

.track-item {
    padding: 15px 10px;
    list-style: none;
}

.track-item span {
    color: #33a2e4;
    font-weight: 200;
}

.track-item:hover {
    background-color: #3f4244b3;
}

.track-item .track-count {
    width: 8%;
    float: left;
}

.track-item .track-count .fa {
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.track-item:hover .track-count .fa {
    visibility: visible;
}

.track-item:hover .track-count span {
    visibility: visible;
}

.track-item:hover .track-count span {
    visibility: hidden;
}

.track-item .track-info {
    width: 75%;
    float: left;
}

.track-item .track-info span {
    display: block;
}

.track-list .track-item .track-options {
    width: 5%;
    float: left;
    text-align: center;
}

.track-item .track-options {
    visibility: hidden;
}

.track-item:hover .track-options {
    visibility: visible;
}

/*.track-list .track-item .track-duration {
    width: 12%;
    float: left;
    text-align: right;
}*/

.track-item .track-info .track-name {
    color: #93f3ff;
    margin-bottom: 4px;
}

.artist-info {
    text-align: center;
}

.btn {
    padding: 15px;
    min-width: 200px;
    background-color: transparent;
    border: 2px solid #188993;
    border-radius: 250px;
    font-weight: 600;
}

.btn:hover {
    background-color: #0e5359;
    border: 2px solid #188993;
}

.primary {
    background-color: #02a099;
    border: 2px solid #188993;
}

.border-bottom {
    border-bottom: 2px solid #188993;
    margin-bottom: 20px;
}

.track-section h2,
.album-container h2,
.artist-section h2 {
    text-align: center;
}

[role="link"] {
    cursor: pointer;
}

.search-container {
    background-color: #1a1b1b;
    padding: 30px 30px;
    text-align: center;
}

.search-container h4 {
    margin: 0;
    font-weight: 300;
}

.search {
    width: 80%;
    /*color: white;*/
    font-weight: 700;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    font-size: xx-large;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
}

/*.search-result-row {
    padding: 15px 10px;
}*/

.search-result-row:hover {
    background-color: #282828;
}

.no-results {
    margin: 10px;
    display: block;
}